<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.mapper.TbPayPasswordMapper" >
  <resultMap id="BaseResultMap" type="com.mybatis.entity.TbPayPassword" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pay_password" property="payPassword" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="last_password" property="lastPassword" jdbcType="VARCHAR" />
    <result column="last_salt" property="lastSalt" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_pay_password
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mybatis.entity.TbPayPassword" >
    insert into tb_pay_password (id, uid, name, 
      pay_password, salt, last_password, 
      last_salt, create_date, update_date
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{payPassword,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{lastPassword,jdbcType=VARCHAR}, 
      #{lastSalt,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mybatis.entity.TbPayPassword" >
    update tb_pay_password
    set uid = #{uid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      pay_password = #{payPassword,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      last_password = #{lastPassword,jdbcType=VARCHAR},
      last_salt = #{lastSalt,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, uid, name, pay_password, salt, last_password, last_salt, create_date, 
    update_date
    from tb_pay_password
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, uid, name, pay_password, salt, last_password, last_salt, create_date, 
    update_date
    from tb_pay_password
  </select>
</mapper>